/_build
/deps
/doc
/tmp
/node_modules

/installer/_build
/installer/tmp

erl_crash.dump

.vagrant

.DS_Store

/uploads/*
!/uploads/images/
/uploads/images/*
!/uploads/images/users/
/uploads/images/users/*
!/uploads/images/users/defaults/

# Docker
docker-compose.override.yml
